# Editor
tags
.idea
*.un~

# OS
.DS_Store

# Python
__pycache__
*.pyc

# Outputs
*.pdf
*.dat
gmon.out
vgcore*

# Build files
obj
bounce
build
cmake-build-debug

# Resources
*.ttf
*.png
*.json
*.aseprite
